* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: #DADED4;
}

.content {
    max-width: 80%;
    margin: 20px auto;
    text-align: center;
    /* border: 3px solid black; */
    background-color: #DADED4;
    border-radius: 30px;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    color: #3C403D;
}

h2.content__instructions__header {
    margin: 1.5rem 0 0 0;
    font-size: 2rem;
    color: #3C403D;
}

.content__instructions__paragraph {
    max-width: 80ch;
    margin: 0.5rem auto;
    color: #3C403D;
}

.content__button {

    padding: 20px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* border: 3px solid black; */
    gap: 15px;
    background-color: #DADED4;
    border: 0;
    border-radius: 15px;

    
}

.content__button:hover {
    background-color: #A3BCB6;
    /* border-radius: 15px; */
}

.item-img {
    height: 200px;
    width: 200px;
}

.content.content__buttons{
    max-width: 80%;
    margin: auto;
}

.content__buttons {
    display: flex;
    justify-content: center;
    gap: 6rem;
    /* padding: 6rem; */
    flex-wrap: wrap;
}

.content__round__result {
    
    max-width: 1000px;
    /* background-color: grey; */
    margin: 100px auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-justify: center;
    /* border: 3px solid black; */
    font-size: 24px;
}
